<div class="nested-fields well" style="display:inline-block;">
  <%= f.input :activity, :wrapper => :append do %>
    <%= f.association :user, :as => :hidden, :input_html => {:value => current_user.id}%>
    <%= f.input :title, :input_html => {:class => "span2"}%>
    <%= f.input :scheduledclass, :label => "Class Hours", :hint => "number of hours class is scheduled per week", :input_html => {:class => "span1"}%>
    <%= f.input :scheduledsection, :label => "Section Hours", :hint => "number of hours section is scheduled per week", :input_html => {:class => "span1"}%>
    <%= f.input :unscheduled, :label => "Homework Hours", :hint => "or other unscheduled time", :input_html => { :class => "span1"} %>
    <%= link_to_remove_association "Remove Activity", f, :class => "btn btn-inverse" %>
  <% end %>
</div>
