<div class="nested-fields">
  <%= f.input :activity, :wrapper => :append do %>
    <%= f.association :user, :as => :hidden, :input_html => {:value => current_user.id}%>
    <%= f.input_field :title %>
    <%= f.input :scheduledclass, :label => "Class Hours", :hint => "number of hours class is scheduled per week" %>
    <%= f.input :scheduledsection, :label => "Section Hours", :hint => "number of hours section is scheduled per week" %>
    <%= f.input :unscheduled, :label => "Homework Hours", :hint => "or other unscheduled time" %>
    <%= link_to_remove_association "Remove Activity", f, :class => "btn btn-inverse" %>
  <% end %>
</div>
